<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>BEACON_PROXIMITY_UUID</key>
	<string>$(BEACON_PROXIMITY_UUID)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to range nearby room beacons, allowing us to accurately determine which managed room you are currently in.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We continuously monitor for room beacons in the background to record when you enter or leave our managed room.</string>
</dict>
</plist>
